.footer {
  background-color: #0970e3;
  padding: 0 5px;

  hr {
    margin-top: 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 720px) {
      flex-direction: column-reverse;
    }
  }
}

.cv {
  color: white !important;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;

  @media (max-width: 720px) {
    font-size: 19px;
    padding: 7px 10px;
  }
}
